.bg-lightblue{
  background-color: #F1F5FF;
}
.bg-lightwhite{
  background-color: #FCFDFF;
}
.bg-lightpurple{
  background-color: #D0D6EC;
}
.bg-lightpink{
  background-color: #D8D5FF;
}
.bg-card{
  background-color: #EEECFF;
}
.bg-darkpurple{
  background-color: #5347E8;
}

.bg-whiteicon{
  background-color: white;
  height: 45px;
  width: 40px;
}

.bg-facebook{
  background-color: #5347E8;
  height: 45px;
  width: 40px;
}

.bg-main{
  background-color: #F0F3FF;
  height: 1100px;
  background-image: url("/assets/images/dots.png");
  background-repeat: repeat-x;
  background-position: bottom;
}
.bg-nav{
  background-color: #F0F3FF;
}
