.btn-purple{
  background-color: #5347E8;
}
.btn-grey{
  background-color: #D8D5FF;
}
.btn-outline-purple{
  color: #5347E8;
  border-color: #5347E8;
  outline-color: #5347E8;
  background-color: white;
}
.btn-lightpurple{
  color: #AFADF6;
  background-color: #AFADF6;
}














