@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap";

.montserrat{
  font-family: 'Montserrat', cursive;
  
}
.montserrat600{
  font-family: 'Montserrat', cursive;
  font-weight: 600;
}
.montserrat700{
  font-family: 'Montserrat', cursive;
  font-weight: 700;
}


.Hind{
  font-family: 'Hind', cursive;
}
.Hind600 {
  font-family: 'Hind', cursive;
  font-weight: 600;
}
.Hind500{
  font-family: 'Hind', cursive;
  font-weight: 500;
}
.Hind400 {
  font-family: 'Hind', cursive;
  font-weight: 400;
}

