.h1underline{
  text-decoration: underline;
  text-underline-position: under;
}
.icons{
position: absolute;
color: black;
display: flex;
justify-content: center;
bottom: 130px;
}

.doctor-img{
  margin-left: 10px;
}


.MDCL{
  color: #4D4D89;
  font-family: "Times New Roman";
  }


.card-picture{
  position: absolute;
  bottom: 300px;
  left: 175px;
}
.card-name{
  position: relative;
  left: 170px;
  top: 25px;
}

.icons :hover{
  background-color: #5347E8;
  color: white;
  cursor: pointer;
}

.form-control::-webkit-input-placeholder {
  color: #333333;
  font-weight: bold;
}

.form-control{
  cursor: pointer;
}

input{
  color: #333333;
}

.map{
  background-image: url(/assets/images/map.png);
  width: 1171px;
  height: 592px;
}
.card-map{
  position: absolute;
  bottom: 110px;
}

body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.cross{
  position: relative;
  bottom: 15px;
  margin-right: 15px;
}